<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% Category.all.each do |category| %>
      <tr class="category-line">
        <td class="category-link"><%= link_to category.name, category_proyects_url(category) %></td>
        <td><%= category.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

