<header class="masthead clear">
  <div class="centered">
    <div class="site-branding">
      <h1 class="site-title">Register</h1>
    </div>
  </div>
</header>

<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %>
