
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.username %>!</h1>
    <p>
      Someone donated $<%= @amount%> to your proyect named <%= @proyect.name%>. Congratulations!
    </p>
    <p>
      You are getting closer to your goal money
    </p>
    <p>Have a great day!</p>
  </body>
</html>