
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.username %>!</h1>
    <p>
      Your proyect named <%= @proyect.name%> has just reached its goal money!. Congratulations!
    </p>
    <p>Have a great day!</p>
  </body>
</html>