
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.username %>!</h1>
    <p>
      A proyect you donated to has just reached its goal money! Thanks for participating!
      This is the proyect named <%= @proyect.name%>. Congratulations!
    </p>
    <p>Have a great day!</p>
  </body>
</html>