<%= form_for [project, project.comments.build], url: proyect_comments_path(project), remote: true do |f| %>
  <div class="cont">
    <div class="field">
      <%= f.label :comment_text %>
    </div>
    <div>
      <%= f.text_area :comment_text, required: true %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
