
<div >
    <h3><br>Welcome!</h3>
</div>
<% if !current_user %>
    <div class="welcome-btns">
        <button class="welcome"><%= link_to raw('<span class="welcome-text">Login</span>'), new_session_path %></button>
        <button class="welcome"><%= link_to raw('<span class="welcome-text">Register</span>'), new_user_path %></button>
    </div>
<%end%>
