
<header class="masthead clear">
  <div class="centered">
    <div class="site-branding">
      <h1 class="site-title">Projects</h1>
    </div>
  </div>
</header>

<div class="page-container">
  <div class="category-side-bar">
    <%= render 'categories/index'%>
  </div>
  <div class="main-area">
    <div class="centered">
      <section class="cards">
      <%= will_paginate @proyects %>
        <% if Proyect.count != 0%>
          <div class="sort_paginate_ajax">
            <% @proyects.each do |project| %>
                <%= render 'preview', project: project%>
            <% end %>
          </div>
        <% else %>
          <p>No proyects yet</p>
        <% end %>
        <%= will_paginate @proyects %>
      </section>
    </div>
  </div>
</div>
